@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-h-screen {
    width: 100vh;
  }
  .shadow-tab {
    box-shadow: 0 0 2px 2px #9a9a9a6e;
  }
}

@layer components {
  .gradient-lime {
    @apply bg-gradient-to-tr from-lime to-lime-light;
  }
  .gradient-retro {
    @apply bg-gradient-to-b from-green-dark to-green;
  }
}

.bg-radio::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("/static/listening-device.png");
  width: 100%;
  height: 70%;
  opacity: 10%;
  background-size: cover;
  z-index: -1;
}

.bg-face::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/static/profile.png");
  background-size: 33%;
  height: 100%;
  width: 100%;
  opacity: 5%;
  background-repeat: repeat;
  z-index: -1;
}

.logo {
  position: relative;
  border-style: dashed;
  border-width: 1px;
}

.logo::after,
.logo::before {
  content: "";
  display: block;
  position: absolute;
  border-style: dashed;
  border-width: 1px;
  border-color: inherit;
}

.logo::before {
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
}

.logo::after {
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.logo.loading {
  animation: spin 2s infinite ease-in-out;
}

@keyframes spin {
  0% {
    height: 120px;
    width: 120px;
    transform: rotate(45deg);
  }
  50% {
    height: 90px;
    width: 90px;
  }

  100% {
    height: 120px;
    width: 120px;
    transform: rotate(405deg);
  }
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 4px, 3px 100%;
  animation: flicker 0.15s infinite, moveAnim 0.02s infinite linear;
  pointer-events: none;
}

@keyframes moveAnim {
  100% {
    top: 4px;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
